@charset "UTF-8";

* {
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

a {
	color: black;
	text-decoration: none;
}
.font-NotoSans-500 {
	font-family: 'Noto Sans KR';
	font-weight: 500;
}
.ml5 { margin-left: 5px; }
.ml10 { margin-left: 10px; }
.ml15 { margin-left: 15px; }

.bg_black {
	background-color: #000;
}

#container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

#container > header {	
	background-color: #a29bfe;
	display: flex;
	height: 70px;
	padding: 10px;
}

#container > header > #headerLeft {
	flex-grow: 1;
	display: flex;
	align-items: center;
}

#container > header > #headerLeft > #headerLogout > a {
	color: blue;
}

#container > header > #headerRight {
	padding-right: 50px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-grow: 1;
}

#container > header > #headerRight > a {
	font-weight: bold;
	font-size: 1.4em;
}

#container > section {
	flex-grow: 1;
	overflow: auto;
}

#container > footer {
	align-items: center;
	background-color: #636e72;
	color: white;
	display:flex;
	height: 50px;
	justify-content: center;
	padding: 10px;
}

#sectionContainerCenter {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.frm {
	padding: 15px;
	border: 1px solid #bdc3c7;
}

.msg { color: red; }

 .containerPImg {
	display: inline-block;	
	width: 30px;
	height: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.pImg {
	object-fit: cover;
	height: 100%;
	width: 100%;
}




