@charset "UTF-8";

.recMenuContainer{
	width:100%;
	height:200px;
	overflow-x: scroll;
	padding:5px;
	display:flex;
}
.recMenuContainer > .recMenuItem{
	min-width:150px;
	max-width:150px;
	height:90px;
	position:relative;
}
.recMenuContainer > .recMenuItem:not(:first-child){
	margin-left:7px;
}
.recMenuContainer > .recMenuItem >.pic{
	width:100%;
	height:130px;
}

.recMenuContainer > .recMenuItem >.pic > img{
	width:100%;
}
.recMenuContainer > .recMenuItem >.info{
	width:100%;
	height:30px;
}
.recMenuContainer > .recMenuItem >.delIconContainer{
	cursor:pointer;
	position:absolute;
	top:10px;
	right:10px;
}
.menuList{
	display: flex;
	height:70px;
}
.menuList .menuItem{
	display:inline-block;
	width:70px;
	height:70px;
	color: white;
}
.menuList .menuItem:not(:first-child){
	margin-left:4px;
}
.menuList .menuItem img{
	width:100%;
	height:100%;
}
.menuList .menuItem .moreCnt{
	color:white;
	width:100%;
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	
}
.restaurant-detail{
	padding:5px 0 10px 0;
}