@charset "UTF-8";

.recMenuContainer {
	z-index: 20;
	width: 100%;
	height: 200px;
	overflow-x: scroll;
	padding: 5px;
	display: flex;
}

.recMenuContainer > .recMenuItem {
	min-width: 150px;
	max-width: 150px;
	height: 90px;
	position: relative;
}

.recMenuContainer > .recMenuItem:not(:first-child) {
	margin-left: 7px;
}

.recMenuContainer > .recMenuItem > .pic {
	width: 100%;
	height: 130px;
}

.recMenuContainer > .recMenuItem > .pic > img {
	width: 100%;
}

.recMenuContainer > .recMenuItem > .info {
	width: 100%;
	height: 30px;
}

.delIconContainer {
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 10px;
 	color: #7f8c8d;
 	box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.menuList {
	display: flex;
	height: 70px;
}

.menuList .menuItem {
	position: relative;
	width: 70px;
	height: 70px;	
}

.menuList .menuItem:not(:first-child) {
	margin-left: 4px;
}

.menuList .menuItem img {
	width: 100%;
	height: 100%;
}

.menuList .menuItem .moreCnt {
	color: white;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.restaurant-detail {
	padding: 5px 0 10px 0;
}
.restaurant-detail .restaurant_title_wrap{
	display: flex;
	align-items:center;
}
.restaurant-detail #favorite{
	margin-left:20px;
	color:red;
}

#carouselContainer {
	transition: 1s;
	opacity: 0;
	z-index: -10;
	left: 0;
	top: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000A;
	display: flex;
	justify-content: center;
	align-items: center;
}

#sectionContainerCenter {	
	z-index: 20;
	overflow: auto;
}

#carouselContainer #imgContainer {
	background-color: #fff;
	width: 60%;
	height: 80%;
	position: relative;
}

.material-icons{
	cursor: pointer;
}
#carouselContainer .material-icons {
	display: inline-block;
	position: absolute;
	top: 40px;
	right: 40px;
	color: #7f8c8d;
	cursor: pointer;
	font-size: 2rem;
	background-color: black;
	top: 20px;
	right:20px;
}

.swiper-container .imgDel {
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 100;
	background-color: white;
}

.swiper-container .imgDel .material-icons {
	font-size: 3rem;
	color: black;
}

.swiper-slide .delIconContainer {
	position: absolute;
	top: 10px;
	left: 10px;
}
